<h1><%= @guest.first_name %> <%= @guest.last_name %></h1>

<h4> - Email: <%= @guest.email %></h4>
<h4> - Phone: <%= @guest.phone %></h4>
<h4> - Document ID: <%= @guest.document_id %></h4>

<%= link_to "Back to Guest", guests_path %>

