<h1>Rooms</h1>

<h4>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.number, room_path(room) %>
      - Type: <%= room.room_type %>
      - Price: $<%= room.price %>
      - Status: <%= room.status %>

    </li>    
  <% end %>
</h4>

<p> </p>
<%= link_to "Guest", guests_path %>
<%= link_to "Reservations", reservations_path %>
<%= link_to "Services", services_path %>


